.jstb_coderay { background-image: url('../images/jstb_coderay.png') }
.jstb_coderay_submenu { width: 168px; }
.jstb_coderay_submenu button { width: 80px; text-align: center; margin: 0; color: #79B51C;}
.jstb_coderay_submenu button span{ width: 100%; display: inherit; }
